입출력 수업 내용

In [3]:
print("안녕하세요 저는 김태인입니다")

안녕하세요 저는 김태인입니다

In [6]:
name = "김태인"
age = 27
print("이름: ",name,"나이: ",age)

이름:  김태인 나이:  27

In [13]:
name = "김태인"
age = 27
print("이름 : {} 나이 : {}".format(name, age))

이름 : 김태인 나이 : 27

In [8]:
name = "김태인"
age = 27
print(f'이름은 {name} 입니다. 그리고 나이는 {age}살 입니다')

이름은 김태인 입니다. 그리고 나이는 27살 입니다

In [11]:
print('안녕하세요')
print('저는 김태인입니다')

안녕하세요
저는 김태인입니다

In [16]:
print('안녕하세요!', end=' ')
print('저는 김태인입니다')

안녕하세요! 저는 김태인입니다

In [1]:
print('2023','10','05', sep='-')

2023-10-05

In [2]:
with open("output.txt","w") as file:
    print("이것은 파일에 쓰이는 내용입니다.",file=file)

In [3]:
num1 = 10
num2 = 5
print(f'{num1} + {num2} = {num1+num2}')
print(f'{num1} - {num2} = {num1-num2}')
print(f'{num1} * {num2} = {num1*num2}')
print(f'{num1} / {num2} = {num1/num2}')

10 + 5 = 15
10 - 5 = 5
10 * 5 = 50
10 / 5 = 2.0

In [4]:
print("안녕하세요! 😊")

안녕하세요! 😊

In [6]:
name = input("이름을 입력하세요 : ")
print(f'안녕하세요, {name}님!')

안녕하세요, 김태인님!

In [7]:
age = int(input("나이를 입력하세요: "))
print(f'내년에는 {age + 1}살이 되십니다.')

내년에는 28살이 되십니다.

In [8]:
height = float(input("키를 입력하세요: "))
print(f'당신의 키는 {height} cm 입니다.')

당신의 키는 173.1 cm 입니다.

In [10]:
data = input('과일 이름들을 입력하세요(쉼표로 구분): ')
fruits = data.split(',')
print(fruits)

['사과', '바나나', '오렌지']

In [11]:
number1, number2 = map(int, input().split())
print(number1,number2)

13 22

In [12]:
number_list = list(map(int, input().split()))
print(number_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [14]:
try:
    num = int(input("정수를 입력하세요: "))
except ValueError:
    print("유효한 정수를 입력해주세요.")
else:
    print(f"입력한 정수: {num}")

유효한 정수를 입력해주세요.

In [15]:
num1 = float(input("첫 번째 숫자를 입력하세요: "))
num2 = float(input("두 번째 숫자를 입력하세요: "))

print(f"{num1} + {num2} = {num1 + num2}")
print(f"{num1} - {num2} = {num1 - num2}")
print(f"{num1} * {num2} = {num1 * num2}")
print(f"{num1} / {num2} = {num1 / num2}")

10.0 + 10.0 = 20.0
10.0 - 10.0 = 0.0
10.0 * 10.0 = 100.0
10.0 / 10.0 = 1.0

실습 문제 (입출력)

In [2]:
name = input()
age = int(input())
print(f'이름: {name} | 나이: {age}')

이름: 김태인 | 나이: 27

In [17]:
print(1,2,3,4,5,sep=';',end='!')

1;2;3;4;5!

In [1]:
A,B = map(int,input("두 수를 입력하세요(공백으로 구분):").split())
print(f'{A} + {B} = {A+B}')
print(f'{A} - {B} = {A-B}')

10 + 3 = 13
10 - 3 = 7