변수 수업 내용

In [2]:
age = 25
height = 175.5
name = '김태인'
is_student = True
print(type(age))
print(type(height))
print(type(name))
print(type(is_student))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [5]:
a = 15
b = 5

print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a//b)

20
10
75
3.0
0
3

In [7]:
first_name = '홍'
last_name = '길동'

full_name = first_name + last_name
print(full_name)

repeat_name = full_name * 3
print(repeat_name)

홍길동
홍길동홍길동홍길동

In [12]:
is_raining = False

if is_raining:
    print('우산을 가져가세요.')
else:
    print('우산이 필요 없습니다.')

우산이 필요 없습니다.

In [14]:
name = input('이름을 입력하세요: ')
print('반갑습니다, ' + name + '님!')
print(f'반갑습니다, {name}님!')

반갑습니다, 김태인님!
반갑습니다, 김태인님!

In [15]:
age = input("나이를 입력하세요: ")
print(type(age))  # 출력: <class 'str'>

# 정수로 변환
age = int(age)
print(type(age))  # 출력: <class 'int'>

age = str(age)
print(type(age))

<class 'str'>
<class 'int'>
<class 'str'>

In [16]:
a,b,c = 2,4,6
print(a,b,c)

2 4 6

In [17]:
x=y=z=3
print(x,y,z)

3 3 3

In [19]:
global_var = "전역 변수"

def func():
    print(global_var)

func()  # 출력: 전역 변수

전역 변수

In [20]:
def func():
    local_var = "지역 변수"
    print(local_var)

func()         # 출력: 지역 변수
print(local_var)  # 오류 발생: NameError: name 'local_var' is not

지역 변수

NameError: name 'local_var' is not defined

실습 문제 (변수)

In [26]:
a = 42
b = 3.14
c = 'Python'

print(f'값: {a}, 타입:', type(a))
print(f'값: {b}, 타입:', type(b))
print(f'값: {c}, 타입:', type(c))

값: 42, 타입: <class 'int'>
값: 3.14, 타입: <class 'float'>
값: Python, 타입: <class 'str'>

In [30]:
a,b,c = 5,7,9
avg = float((a+b+c)/3)

print(f'a={a}, b={b}, c={c} -> 평균: {avg}')

a=5, b=7, c=9 -> 평균: 7.0

In [33]:
name,language = input().split()

print('예상 출력 :')
print(f'이름을 입력하세요: {name}')
print(f'좋아하는 프로그래밍 언어를 입력하세요: {language}')
print(f'{name}은 {language}을 좋아합니다!')
print(f'{name}은 {language}을 좋아합니다!'*3)

예상 출력 :
이름을 입력하세요: 김태인
좋아하는 프로그래밍 언어를 입력하세요: Python
김태인은 Python을 좋아합니다!
김태인은 Python을 좋아합니다!김태인은 Python을 좋아합니다!김태인은 Python을 좋아합니다!