반복문 수업 내용

In [2]:
numbers = [1,2,3,4,5]

for num in numbers:
    print(num)

1
2
3
4
5

In [3]:
for i in range(5):
    print('현재 i의 값:', i)

현재 i의 값: 0
현재 i의 값: 1
현재 i의 값: 2
현재 i의 값: 3
현재 i의 값: 4

In [4]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [5]:
for j in range(10,0,-2):
    print(j)

10
8
6
4
2

In [6]:
text = 'Python'
for ch in text:
    print(ch)

P
y
t
h
o
n

In [9]:
count = 1
while count <= 5:
    print(count)
    count += 1

1
2
3
4
5

In [10]:
user_input = ''
while user_input != 'quit':
    user_input = input('명령을 입력하세요 (quit을 입력하면 종료): ')
    print('입력하신 명령: ',user_input)

입력하신 명령:  hi
입력하신 명령:  hello
입력하신 명령:  kimtaein
입력하신 명령:  quit

In [11]:
for i in range(1,11):
    if i == 5:
        break
    print(i)

1
2
3
4

In [12]:
for i in range(1,11):
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10

In [14]:
for dan in range(2,10):
    for num in range(1,10):
        print(f'{dan} * {num} = {dan*num}')
    print()

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [18]:
numbers = [10,20,30,40,50]
total = 0

for num in numbers:
    total+=num
    print(total)
print('리스트 내 숫자들의 합:',total)

10
30
60
100
150
리스트 내 숫자들의 합: 150

In [19]:
height = 5
for i in range(1,height+1):
    print('*'*i)

*
**
***
****
*****

In [20]:
fruits = 'apple'

for idx, fruit_char in enumerate(fruits):
    print(f'{idx}: {fruit_char}')

0: a
1: p
2: p
3: l
4: e

In [21]:
fruits = ['apple','banana','watermelon']

for idx, fruit_char in enumerate(fruits):
    print(f'{idx}: {fruit_char}')

0: apple
1: banana
2: watermelon

In [22]:
fruits = ["apple", "banana", "cherry"]
prices = [1000, 2000, 3000]

for fruit, price in zip(fruits, prices):
    print(f"{fruit}: {price}원")

apple: 1000원
banana: 2000원
cherry: 3000원

실습 문제 (반복문)

In [49]:
n = int(input('정수를 입력하세요: '))

print(f'{n}의 약수:', end=' ')
for i in range(1,n+1):
    if n%i==0:
        print(i, end=' ')

12의 약수: 1 2 3 4 6 12

In [62]:
A = input('문자열을 입력하세요: ')

for i in range(-1,-(len(A)+1),-1):
    print(A[i],end='')

olleh

In [48]:
answer = 5

while True:
    user_input = int(input('정수를 입력하세요(1~10): '))
    if user_input > 10 or user_input < 1:
        print('범위를 벗어났습니다.')
    elif user_input != answer:
        print('틀렸습니다. 다시 입력하세요.')
    else:
        print('정답입니다!')
        break

범위를 벗어났습니다.
틀렸습니다. 다시 입력하세요.
틀렸습니다. 다시 입력하세요.
틀렸습니다. 다시 입력하세요.
틀렸습니다. 다시 입력하세요.
범위를 벗어났습니다.
정답입니다!