리스트 수업 내용

In [1]:
test_list = []
test_list = [1, 'apple', 3.14, True]

print(test_list)

[1, 'apple', 3.14, True]

In [2]:
new_list = list('hello')
print(new_list)

['h', 'e', 'l', 'l', 'o']

In [3]:
print(type(new_list))

<class 'list'>

In [4]:
new_list = list((1,2,3))
print(new_list)
print(type(new_list))

[1, 2, 3]
<class 'list'>

In [6]:
fruits = ['apple', 'banana', 'cherry', 'date']

print(fruits[0])
print(fruits[2])
print(fruits[-1])
print(fruits[-2])

apple
cherry
date
cherry

In [10]:
numbers = [0,1,2,3,4,5,6]

print(numbers[2:5]) # [2,3,4]
print(numbers[:3]) # [0,1,2]
print(numbers[4:]) # [4,5,6]
print(numbers[::2]) # [0,2,4,6]
print(numbers[::-1]) # [6,5,4,3,2,1,0]

[2, 3, 4]
[0, 1, 2]
[4, 5, 6]
[0, 2, 4, 6]
[6, 5, 4, 3, 2, 1, 0]

In [11]:
fruits = ['apple','banana','cherry']
fruits[1] = 'blueberry'
print(fruits)

['apple', 'blueberry', 'cherry']

In [12]:
numbers = [0,1,2,3,4,5]
numbers[1:3] = [9,9]
print(numbers)

[0, 9, 9, 3, 4, 5]

In [13]:
fruits = ['apple', 'banana']
fruits.append('cherry')
print(fruits)

['apple', 'banana', 'cherry']

In [14]:
fruits.insert(1,'blueberry')
print(fruits)

['apple', 'blueberry', 'banana', 'cherry']

In [15]:
fruits.extend(['date','fig'])
print(fruits)

['apple', 'blueberry', 'banana', 'cherry', 'date', 'fig']

In [24]:
fruits.remove('banana')
print(fruits)

ValueError: list.remove(x): x not in list

In [ ]:
pop_fruits = fruits.pop(2)
print(fruits)
print(pop_fruits)

['apple']

In [25]:
numbers = [1,2,3,2,4]
idx = numbers.index(2)
print(idx)

1

In [26]:
cnt = numbers.count(2)
print(cnt)

2

In [27]:
numbers = [5,2,9,1,5,6]
numbers.sort()
print(numbers)

[1, 2, 5, 5, 6, 9]

In [28]:
numbers.sort(reverse=True)
print(numbers)

[9, 6, 5, 5, 2, 1]

In [31]:
numbers.reverse()
print(numbers)

[1, 2, 5, 5, 6, 9]

In [32]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
result = list1 + list2
print(result)

[1, 2, 3, 4, 5, 6]

In [ ]:
list1 = ['a','b']
print(list1*3)

['a', 'b', 'a', 'b', 'a', 'b']

In [34]:
squares = [x**2 for x in range(1,11) if x % 2 == 0]
print(squares)

[4, 16, 36, 64, 100]

In [35]:
squares = []
for x in range(1,11):
    if x % 2 == 0:
        squares.append(x**2)
print(squares)

[4, 16, 36, 64, 100]

In [36]:
words = ['apple', 'banana', 'cherry']
lengths = [len(word) for word in words]
print(lengths)

[5, 6, 6]

In [37]:
length = []
for word in words:
    length.append(len(word))
print(length)

[5, 6, 6]

In [38]:
fruits = ['apple', 'banana', 'cherry']

for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [39]:
for idx, value in enumerate(fruits):
    print(idx,value)

0 apple
1 banana
2 cherry

In [42]:
matrix = [[1, 2, 3],[4, 5, 6],[7, 8, 9]]
print(matrix[0])
print(matrix[0][1])

print(matrix[2][0])

[1, 2, 3]
2
7

In [46]:
original = [1, 2, [3, 4]]
shallow_copy = original[:]
print(shallow_copy)
shallow_copy[2][0] = 'a'
print(shallow_copy)
print(original)

[1, 2, [3, 4]]
[1, 2, ['a', 4]]
[1, 2, ['a', 4]]

In [47]:
import copy

original = [1, 2, [3, 4]]
shallow_copy = copy.copy(original)

In [49]:
import copy

original = [1, 2, [3, 4]]
deep_copy = copy.deepcopy(original)
deep_copy[2][0] = 'a'
print(deep_copy)
print(original)

[1, 2, ['a', 4]]
[1, 2, [3, 4]]

In [54]:
a = [1,2,3]
b = a
print(id(a))
print(id(b))

1842974968128
1842974968128

In [55]:
b = a[:]
print(id(a))
print(id(b))

1842974968128
1842974913856

실습 문제 (리스트)

In [68]:
cities = ["Seoul", "Busan", "Incheon", "Gwangju", "Daejeon"]

sub_cities = cities[1:4]
print(sub_cities)
reversed_cities = sub_cities[::-1]
print(reversed_cities)
reversed_cities.append("Ulsan")
print(reversed_cities)

['Busan', 'Incheon', 'Gwangju']
['Gwangju', 'Incheon', 'Busan']
['Gwangju', 'Incheon', 'Busan', 'Ulsan']

In [69]:
cities = ["Seoul", "Busan", "Incheon", "Gwangju", "Daejeon"]

sub_cities = cities[1:4]
sub_cities.reverse()
sub_cities.append("Ulsan")
print(sub_cities)

['Gwangju', 'Incheon', 'Busan', 'Ulsan']

In [87]:
result = [i**2 for i in range(1,31) if i%3==0 and i%2!=0]
print(result)

[9, 81, 225, 441, 729]

In [71]:
new_list = [10,20,30,5,7]
print(max(new_list))
print(new_list)
print(sum(new_list)/len(new_list))

30
[10, 20, 30, 5, 7]
14.4

In [86]:
A = map(int,input().split())
list_A = list(A)
input1 = ''
for i in range(len(list_A)):
    input1 += str(list_A[i]) + ' '
print('정수를 입력하세요 (공백 구분):', input1, sep=' ')
print(f'최댓값: {max(list_A)}')
print(f'최솟값: {min(list_A)}')
print(f'평균: {sum(list_A)/len(list_A)}')

정수를 입력하세요 (공백 구분): 10 20 30 5 7
최댓값: 30
최솟값: 5
평균: 14.4